<script
src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
crossorigin="anonymous" defer></script>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container-fluid">
      <a class="navbar-brand" style="cursor: pointer;" onclick="window.location.reload()">Visual Science</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/about">About</a>
          </li>
          <li id="topics" class="nav-item">
            <a class="nav-link" aria-current="page" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasWithBothOptions">Topics</a>
          </li>        
        </ul>
      </div>
    </div>
  </nav>
  <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
      <h5 id="offcanvasRightLabel">Availabel Topics</h5>
      <button type="button" class="btn-close text-reset" data-bs-dismiss="offcanvas" aria-label="Close">❌</button>
    </div>
    <div class="offcanvas-body">
        <ul class="list-group list-group-flush">
            <li onclick="window.location.href = '/learning/ConcaveMirror'" class="list-group-item list-group-item-action list-group-item-dark">Concave Mirror</li>
            <li onclick="window.location.href = '/learning/ConvexMirror'" class="list-group-item list-group-item-action list-group-item-dark">Convex Mirror</li>
            <li onclick="window.location.href = '/learning/Pendulum'" class="list-group-item list-group-item-action list-group-item-dark">Pendulum</li>
            <li onclick="window.location.href = '/learning/Refraction'" class="list-group-item list-group-item-action list-group-item-dark">Refraction</li>
            <li onclick="window.location.href = '/learning/Circular'" class="list-group-item list-group-item-action list-group-item-dark">Circular Motion</li>
            <li onclick="window.location.href = '/learning/Projectile'" class="list-group-item list-group-item-action list-group-item-dark">Projectile Motion</li>
          </ul>
    </div>
  </div>

  <script>
    let navbar = document.getElementById("navbarSupportedContent")
    if(window.location.href === "/"){
      navbar.removeChild(navbar.getElementById("topics"))
    }
  </script>